*/Emakefile
*Makefile
*Makefile.in
ac-aux/
aclocal.m4
autom4te.cache/
c_src/.deps/
c_src/.libs/
c_src/*.la
c_src/*.lo
config.*
configure
doc/edoc-info
doc/erlang.png
doc/*.html
ebin/exmpp.appup
ebin/*.beam
ebin/exmpp.app
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
stamp-h1
testsuite/etest
*.o
priv/*
